@charset "utf-8";

@forward "../../global/_index.scss";
@use "../../global/_index.scss" as *;

@mixin card($bgColor:#fff, $width: 255px, $color: #fff, $ttlColor: #fff, $txtColor: rgba(207, 207, 207, 0.7), $borderColor: transparent) {
    width: 100%;
    max-width: $width;
    border-radius: 8px;
    font-family: "BarlowSemiCondensed";
    padding: 26px 32px;
    background: $bgColor;
    box-shadow: 40px 60px 50px #48556a40;
    @media screen and (max-width: 767px) {
        max-width: 100%;
    }
    .user {
        &__item {
            display: flex;
            align-items: center;
            gap: 0 17px;
            margin: 0 0 18px;
        }
        &__icon {
            width: 30px;
            height: 30px;
            border: solid 2px $borderColor;
            border-radius: 50%;
            overflow: hidden;
        }
        &__name {
            text-align: center;
            font-size: 13px;
            font-weight: 500;
            line-height: 1em;
            margin: 0 0 5px;
            color: $color;
        }
        &__verified {
            text-align: center;
            font-size: 11px;
            font-weight: medium;
            line-height: 1em;
            opacity: 0.5;
            color: $color;
        }
    }
    .explanation {
        &__cover {
            position: relative;
            z-index: 10;
        }
        &__ttl {
            font-size: 20px;
            font-weight: 600;
            line-height: 1.2em;
            color: $ttlColor;
            font-style: normal;
            margin: 0 0 16px;
        }
        &__txt {
            font-size: 13px;
            font-weight: 500;
            line-height: 1.38em;
            color: $txtColor;
        }
    }
}
