@charset "utf-8";

@font-face {
    font-family: "BarlowSemiCondensed"; /* フォント名 */
    src: url("../../../build/fonts/BarlowSemiCondensed-Medium.ttf") format("woff");
    src: url("../../../build/fonts/BarlowSemiCondensed-SemiBold.ttf") format("woff");
}